# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [4]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [309]:
def animal_crackers(text):
    return text.split()[0][0] == text.split()[1][0]

In [310]:
# Check
animal_crackers('Levelheaded Llama')

True

In [311]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [314]:
def makes_twenty(n1,n2):
    return n1 ==20 or n2 == 20 or (n1+n2)==20

In [318]:
# Check
makes_twenty(20,10)

True

In [316]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [24]:
def old_macdonald(name):
    trans= list(name)
    trans[0]=trans[0].upper()
    trans[3]=trans[3].upper()
    return ''.join(trans)

In [25]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [30]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

'father your am I'

In [31]:
# Check
master_yoda('I am home')

'home am I'

In [32]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [319]:
def almost_there(n):
    return (abs(n-100)<=10 or abs(n-200)<=10)

In [320]:
# Check
almost_there(104)

True

In [321]:
# Check
almost_there(150)

False

In [322]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [82]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] ==3:
            return True
    else:
        return False

In [72]:
# However, at this moment we do not consider the situation that we have integers greater than 10, like 13, 33, 133, 1331.

0
1

In [87]:
# Check
has_33([3, 3,3,1, 3])

True

In [80]:
# Check
has_33([1, 3, 1, 3])

False

In [81]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [134]:
def paper_doll(text):
    return ''.join([word*3 for word in list(text)])

In [135]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [136]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [147]:
def blackjack(a,b,c):
    if sum((a,b,c))<=21:
        return sum((a,b,c))
    elif sum((a,b,c))>21 and sum((a,b,c),-10)<21 and (a==11 or b==11 or c==11):
        return sum((a,b,c),-10)
    else:
        return 'BUST'

In [148]:
# Check
blackjack(5,6,7)

18

In [149]:
# Check
blackjack(9,9,9)

'BUST'

In [151]:
# Check
blackjack(9,9,11)

'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [291]:
po_1=po_2=0
su=0
def summer_69(arr):
    
    global po_1 
    global po_2
    global su
    for i in range(0,len(arr)):
        if arr[i] == 6:
            po_1=i
            
        for j in range(po_1+1,len(arr)):
            if arr[j] == 9:
                po_2=j
    if po_1 == 0:
        return sum(arr)
    else:
        for k in range(0,po_1):
            su = su+arr[k]
        for m in range(po_2+1,len(arr)):
            su = su+arr[m]
        return su
   #This will cause problem. I have to announce a variable first and define it as global so I can accumulate it in the for loop.
#However, it is stored and will not refresh for next introduce. So I have to relanch the function definition every time. not a good solution

In [288]:
# Check
summer_69([1,3,5])

9

In [290]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [292]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [225]:
po_1=po_2=po_3=0
def spy_game(nums):
    global po_1 
    global po_2 
    global po_3
    for i in range(0,len(nums)):
        if nums[i] == 0:
            po_1=i
            break
        for j in range(po_1+1,len(nums)):
            if nums[j] == 0:
                po_2=j
                
            for k in range(po_2+1,len(nums)):
                if nums[k] == 7:
                    po_3=k
                    
    if po_2==po_3:
        return False
    else:
        return True

In [226]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [227]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [228]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [307]:
def print_big(letter):
    pattern={'onestar':'*','twostar':'**','twostarloose':'* *','three':'***','four':'****'}
    print(pattern['onestar'])
    print(pattern['twostar'])

In [308]:
print_big('a')

*
**

## Great Job!